<div class="page-header">
  <h1 ng-if="item.type == 'create'">Create Item</h1>
  <h1 ng-if="item.type == 'edit'">Edit Item</h1>
</div>

<form class="form-horizontal" ng-submit="item.saveItem()">

  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="item.itemData.title">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Base Price</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="item.itemData.basePrice">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Colors</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="item.itemData.colors" ng-list>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Image Url</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="item.itemData.image">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-6">
      <textarea class="form-control" ng-model="item.itemData.description"></textarea>
    </div>
  </div>
  <h5>Pricing Tiers (for non wholesale customers)</h5>
  <table class="table table-bordered table-striped" ng-show="item.itemData">
    <thead>
      <tr>
        <!-- <th>Tier</th> -->
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody ng-if="item.type == 'edit'">
      <tr ng-repeat="i in item.itemData.pricingTiers">
        <!-- <td>{{ t.tier }}</td> -->
        <td><input type="number" ng-model="i.quantity" ></td>
        <td><input type="number" ng-model="i.price" ></td>
      </tr>
    </tbody>
    <tbody ng-if="item.type == 'create'">
      <tr>
        <td><input type="number" ng-model="item.tier1.quantity" ></td>
        <td><input type="number" ng-model="item.tier1.price" ></td>
      </tr>
      <tr>
        <td><input type="number" ng-model="item.tier2.quantity" ></td>
        <td><input type="number" ng-model="item.tier2.price" ></td>
      </tr>
      <tr>
        <td><input type="number" ng-model="item.tier3.quantity" ></td>
        <td><input type="number" ng-model="item.tier3.price" ></td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="item.type == 'create'">Create item</button>
    <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="item.type == 'edit'">Update item</button>
  </div>
  </div>

</form>

<div class="row show-hide-message" ng-show="item.message">
  <div class="col-sm-6 col-sm-offset-2">

    <div class="alert alert-info">
      {{ item.message }}
    </div>

  </div>
</div>
